@charset "UTF-8";

/* ********************************************************* */
/* COLOR RULES

1) ON WHITE BACKGROUND:
  - #536399
  - #BD5342

2) COLORED BACKGROUNDS ARE:
  - #465081
  - #A24739

3) ON BLUE COLORED BACKGROUND:
  - #D6DBE6

4) ON ORANGE COLORED BACKGROUND:
  - #FDDBC9

5) HOVER ON BLUE BACKGROUND:
  - #D6DBE6 to white

6) HOVER ON ORANGE BACKGROUND:
  - #FDDBC9 to white

7) HOVER ON WHITE:
  - #536399 to #333C5B
  - #BD5342 to #753329

*/

/*
*****************************
******** #Typography ********
*****************************
*/

.lato { font-family: 'Lato', sans-serif; }


.reenie-beanie { font-family: 'Reenie Beanie'; }


.zilla { font-family: 'Zilla Slab', serif; font-weight: 500; }


h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 3em;
}


h2 { font-size: 2.54em; }


h3 { font-size: 1.85em; }


h2, h3, h4, h5, h6 { font-family: 'Zilla Slab', serif; font-weight: 500; }


p, a, li { font-family: 'Lato', sans-serif; }

.force-center { text-align: center; }

.force-left { text-align: left; }

.force-right { text-align: right; }

.force-italic {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.t--s { font-size: 1.25em; }

.t--m { font-size: 1.45em; }

.t--l { font-size: 2em; }


/*
*******************************
******** #Color-Scheme ********
*******************************
*/

.blue {color: #536399;}

  .blue--dark {color: #333C5B;}

  .blue--light {color: #D6DBE6;}

.orange {color: #BD5342;}

  .orange--dark {color: #753329;}

  .orange--light {color: #FDDBC9;}

.white {color: #FFFFFF;}


/* **** #backgrounds **** */

.blue-bg {background-color: #536399;}

  .blue-bg--dark {background-color: #333C5B;}

  .blue-bg--light {background-color: #D6DBE6;}

.orange-bg {background-color: #BD5342;}

  .orange-bg--dark {background-color: #753329;}

  .orange-bg--light {background-color: #FDDBC9;}

.white-bg { background-color: #FFFFFF; }


/* **** #link-colors **** */

.link-white-bg--blue {
  color: #536399;
  text-decoration: none;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

  .link-white-bg--blue:hover {
    color: #333C5B;
    text-decoration: underline;
  }

.link-white-bg--orange {
  color: #BD5342;
  text-decoration: none;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

  .link-white-bg--orange:hover {
    color: #753329;
    text-decoration: underline;
  }

.link-blue-bg {
  color: #D6DBE6;
  text-decoration: none;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

  .link-blue-bg:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }

.link-orange-bg {
  color: #FDDBC9;
  text-decoration: none;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

  .link-orange-bg:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }


/* **** #active-links **** */

.active { text-transform: uppercase; }

  .active:hover { text-decoration: none; }

  .active--blue-bg:hover { color: #D6DBE6; }

  .active--orange-bg:hover { color: #FDDBC9; }

  .active--white-bg--orange:hover { color: #BD5342; }


/* **** #external-links **** */

.external-link:hover { cursor: alias; }


/*
***********************
******** #Body ********
***********************
*/

html,
body {
  color: #333;
  height: 100%;
}

body {
  -ms-overflow-x: hidden; /* for IE 10 */
}

.banner {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0,0,0,0.5) 1px 0 3px;
  height: 100%;
  text-align: center;
}


#home { background-image: url("https://daphnek95.github.io/assets/home-background.jpeg"); }

#artwork { background-image: url("https://daphnek95.github.io/assets/artwork-background.jpeg"); }

/* **** PROJECT BANNERS **** */
#animated-mythologies { background-image: url("https://daphnek95.github.io/assets/animated-mythologies/animated-mythologies-banner.jpeg"); }
#cuddlepants { background-image: url("https://daphnek95.github.io/assets/cuddlepants/cuddlepants-banner.jpeg"); }
#product-design { background-image: url("https://daphnek95.github.io/assets/product-design/product-design-banner.jpeg"); }
#web-design { background-image: url("https://daphnek95.github.io/assets/web-design/web-design-banner.jpeg"); }
#graphic-collage { background-image: url("https://daphnek95.github.io/assets/graphic-collage/graphic-collage-banner.jpeg"); }
#hayley-cleaver-sp { background-image: url("https://daphnek95.github.io/assets/hayley-cleaver-sp/hc-sp-banner.jpeg"); }
#nicholas-alyssa-es { background-image: url("https://daphnek95.github.io/assets/nicholas-alyssa-es/na-es-banner.jpeg"); }
#paper-planes { background-image: url("https://daphnek95.github.io/assets/paper-planes/paper-planes-banner.jpeg"); }
#event-ad { background-image: url("https://daphnek95.github.io/assets/event-ad/upb-banner.jpeg"); }
#youtube-branding { background-image: url("https://daphnek95.github.io/assets/youtube-branding/youtube-branding-banner.jpeg"); }


#about {
  background-image: url("https://daphnek95.github.io/assets/about-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0,0,0,0.5) 1px 0 3px;
  height: 100%;
  text-align: center;
}

  .about-wrapper {
    background-color: #333C5B;
    box-shadow: rgba(0,0,0,0.5) 0 0 1rem;
    color: white;
    padding: 1.125rem 1.25rem;
  }

    .about-wrapper h1 { margin-top: .625rem; }

.m-cont { margin: .54rem; }

  .m-cont--tight { margin: 0;}

  
  .m-cont--loose { margin: 1rem; }


  .m-cont--fat { margin: 1.54rem; }

.m-top--fat {margin-top: 2rem;}

.m-bottom--looser {margin-bottom: 1.125rem;}

.m-v--fat {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}


.m-pttn { background-image: url("https://daphnek95.github.io/assets/mirrored-squares.png"); }

  .m-pttn--rvrt { background-image: none; }


.p-minor { padding: .35rem ;}

  .p-minor--x { padding: .54rem; }

  .p-minor--xl { padding: 1rem; }

  .p-minor--vary { padding: .35rem .45rem; }

  .p-minor--vary-x { padding: .54rem .64rem; }

  .p-minor--vary-xl { padding: 1rem 1.1rem; }


.p-v {
  padding-bottom: 1.125rem;
  padding-top: 1.125rem;
}

  .p-v--l {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }


.c-width {
  margin-left: .625rem;
  margin-right: .625rem;
}

  .c-width--tight {
    margin-left: .54rem;
    margin-right: .54rem;
  }

  .c-width--loose {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .c-width--fat {
    margin-left: 1.54rem;
    margin-right: 1.54rem;
  }


.c-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

  .c-wrapper:after {
    content: '';
    display: table;
    clear: both;
  }

  .c-wrapper--left {
    background-color: white;
    width: 100%;
  }

  .c-wrapper--right {
    width: 100%;
  }


/*
*****************************
******** #Navigation ********
*****************************
*/

/* **** #dflt-nav **** */

.nav {
  list-style-type: none;
  padding: 0;
}


/* **** #drpdwn-nav **** */

  .nav--drpdwn {
    display: block;
    list-style-type: none;
    padding: 0;
  }


  .nav--drpdwn-hd {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }


/* **** #frm-nav **** */

  .nav--frm {
    background-color: #D6DBE6;
    display: block;
    list-style-type: none;
    padding: 0;
  }


  .nav--frm-hd {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }


/* **** #hvy-nav **** */

  .nav--hvy {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
  }


    .nav--hvy__row-left {
      -ms-grid-column: 1;
      grid-column: 1;
    }


    .nav--hvy__row-right {
      -ms-grid-column: 2;
      grid-column: 2;
    }


/* **** #dlft-list **** */

.lis-itm {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}


/* **** #drpdwn-list **** */

  .lis-itm--drpdwn {
    display: none;
    margin: 0;
    text-align: left;
  }

    .lis-itm--drpdwn.appear { display: block; }


  .lis-itm--drpdwn-trig {
    display: none;
    margin: 0;
    padding: .35em .45em;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
  }

    .lis-itm--drpdwn-trig.rotate {
      -moz-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }


/* **** #frm-list **** */

  .lis-itm--frm {
    display: none;
    margin: 0;
    padding: .35rem .45rem;
  }

    .lis-itm--frm.appear { display: block; }


  .lis-itm--frm-trig {
    display: none;
    margin: 0;
    padding: .3r5em .45rem;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
  }

    .lis-itm--frm-trig.rotate {
      -moz-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }


/* **** #hvy-list **** */

  .lis-itm--hvy {
    display: flex;
    list-style-type: none;
    padding-left: 0;
  }

    .lis-itm--hvy--left {
      justify-content: flex-start;
    }

    .lis-itm--hvy--right {
      justify-content: flex-end;
    }

    .lis-itm--hvy__left-col-one {
      display: inline-block; /* for IE 10 */
      padding-left: 1.25rem;
    }

    .lis-itm--hvy__left-col {
      display: inline-block; /* for IE 10 */
      padding-left: .5rem;
    }

    .lis-itm--hvy__right-col-one {
      display: inline-block; /* for IE 10 */
      padding-right: 1.25rem;
    }

    .lis-itm--hvy__right-col {
      display: inline-block; /* for IE 10 */
      padding-right: .5rem;
    }


/*
**************************
******** #Content ********
**************************
*/

form {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: .54rem 1rem;
}

  label {
    display: block;
    font-size: 1.15rem;
    margin-bottom: .54rem;
    margin-top: .75rem;
    width: 100%;
  }

  input,
  textarea {
    border: none;
    font-size: 1rem;
    height: 1.54rem;
    padding-left: .25rem;
    resize: none;
    width: 100%;
    word-wrap: normal;
  }

    input#submit {
      background-color: #536399;
      border: 2px solid #536399; 
      border-radius: 5px;
      color: white; 
      height: auto; /* for IE */
      height: unset;
      margin: .75rem 0 .54rem;
      padding: .5rem .625rem;
      -moz-transition: all .35s ease-in-out;
      -webkit-transition: all .35s ease-in-out;
      transition: all .35s ease-in-out;
      width: auto; /* for IE */
      width: unset;
    }

      input#submit:hover,
      input#submit:active {
        background-color: #333C5B;
        border: 2px solid #333C5B;
      }

  textarea {
    height: 6em;
    padding-top: .25rem;
  }


img {
  height: auto;
  max-width: 100%;
}


.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hide-overflow { overflow-x: hidden; }

.zoom-img:hover { cursor: zoom-in; }

.centered { text-align: center; }


/* **** #banner-nav **** */

.banner-nav {
  color: white;
  left: 50%;
  position: absolute;
  text-align: center;
  text-shadow: rgba(0,0,0,0.5) 1px 0 3px;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
}

  .banner-nav ul {
    background-color: rgba(0,0,0,0.5);
    list-style-type: none;
    padding: .625rem;
  }

  .banner-nav ul li {
    display: inline-block;
    margin-right: .625rem;
  }

  .banner-nav ul li:last-of-type { margin-right: 0; }


/* **** #insta-highlight **** */

.insta-highlight {
  border: 2px dashed #536399;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.125rem;
  width: 65%;
}

  .insta-highlight:hover img { transform: rotate(45deg); }

  .insta-highlight img {
    align-self: center;
    justify-self: center;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
  }

  .insta-highlight p {
    align-self: center;
    margin-left: .625rem;
  }


/* **** #project-pages **** */
.project-image-bundle {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.125rem;
  padding-top: 1.125rem;
  text-align: center;
}

  .pib-two-col-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

    .pib-two-col-grid img:last-child {margin-top: .25rem;}


/* **** #category-dropdown-component **** */

.c-drpdwn {
  background-color: #536399; 
  color: white; 
}

  .c-drpdwn__btn {
    color: white; 
    text-decoration: none;
  }

    .c-drpdwn__btn:hover {
      background-color: #333C5B;
    }

    .c-drpdwn__btn--active {
      color: #FCCBB0; /* NEED TO CHANGE COLOR */
    }


/* **** #buttons **** */

.blue-button {
  background-color: #536399;
  border: 2px solid #536399;
  border-radius: 5px;
  padding: .5rem .625rem;
  text-decoration: none;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

  .blue-button:hover {
    background-color: #333C5B;
    border: 2px solid #333C5B;
  }


/* **** #filter-art-gallery **** */

/* ---- layout: flexbox ---- */

/* .artwork {} */

  /* .artwork_wrapper {} */


  .artwork_btn {
    background-color: transparent;
    border: none;
    color: white; 
    font-size: 1em;
    padding: .625rem;
    text-align: left;
    width: 100%;
  }

    .artwork_btn:hover {
      cursor: pointer;
    }

    .artwork_btn:focus {
      outline: transparent;
    }


  .artwork_btn-active {
    background-color: #333C5B; 
  }


  .artwork_project {
    text-align: center;
    margin-bottom: 1.125rem;
    width: 100%;
  }

    .artwork_project img {
      border-radius: 5px;
      width: 100%;
    }

    .artwork_project h3 {
      font-size: 1.15rem;
      margin-bottom: 0;
    }

    .artwork_project-reveal { display: inline-block !important; }

    .art-home-override { display: inline-block !important; }

/* ---- layout: grid ---- */

@supports (display: grid) {
  /* .artwork {} */

    .artwork_wrapper {
      display: grid;
      grid-gap: 1.125rem;
      grid-template-columns: 1fr;
      margin-top: 1.125rem;
      margin-bottom: 2rem;
    }


    .artwork_project {
      align-self: center;
      justify-self: center;
      padding: 1.125rem;
      text-align: center;
    }

      .art-home-override { display: inline-block !important; }

}


/* **** #project-page **** */

.two-img-grid {
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

  .two-img-grid__left-col {
    text-align: center;
    width: 50%;
  }

  .two-img-grid__right-col {
    text-align: center;
    width: 50%;
  }


@supports (display:grid) {
  .two-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

    .two-img-grid__left-col {
      align-self: center;
      grid-column: 1;
      grid-row: 1 / span 2;
      justify-self: center;
      width: unset;
    }

    .two-img-grid__right-col {
      align-self: center;
      grid-column: 2;
      grid-row: 1 / span 2;
      justify-self: center;
      width: unset;
    }
  
}





/*
********************************
********************************
******** #Media-queries ********
********************************
********************************
*/

@media all and ( min-width: 568px ) {
  .nav--hvy {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

/*
  .hero-space div { top: 50%; }

  .hero-space h1 { font-size: 4rem; }
*/

  .banner-nav h1 { font-size: 4rem; }

  @supports (display: grid) {
    .artwork_wrapper {
      grid-template-columns: 1fr 1fr;
      margin-left: .625rem;
      margin-right: .625rem;
    }

  }

}

@media all and ( min-width: 700px ) {
  .insta-highlight { width: 35%; }


  .artwork_wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .artwork_project { /* for IE */ width: 48%; }

  .project-image-bundle {
    width: 80%;
  }
  
    .pib-two-col-grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: .625rem;
      margin-top: .25rem;
    }

      .pib-two-col-grid img:last-child {margin-top: 0;}

  @supports (display: grid) {
    .artwork_project { width: 70%; }
  }

}

@media all and ( min-width: 760px ) {

  .nav--drpdwn {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

    .nav--drpdwn-hd { display: none; }


    .nav--frm { 
      justify-content: flex-start;
    }

  
  .lis-itm--drpdwn {
    display: block;
    margin: 0;
    padding: 0;
  }

  .lis-itm--form {
    display: block;
    margin: 1rem auto; width: 80%;
  }


  .c-drpdwn {
    background-color: transparent;
  }

    .c-drpdwn__btn:hover { background-color: transparent; }


  .about-wrapper {
    left: 50%;
    position: relative;
    top: 40%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


  .artwork {
    display: flex;
    justify-content: center;
    text-align: center;
  }

    .artwork_btn {
      border-bottom: 2px solid #536399; 
      border-top: 2px solid #536399; 
      color: #536399; 
      padding: .5rem .625rem;
    }

      .artwork_btn--first { border-left: 2px solid #536399; } 
      .artwork_btn--last { border-right: 2px solid #536399; } 

      .artwork_btn:hover {
        background-color: #536399; 
        border: 2px solid #536399; 
        color: white; 
      }

      .artwork_btn-active {
        background-color: #333C5B; 
        border: 2px solid #333C5B !important; 
        color: white; 
      }

        .artwork_btn-active:hover {
          background-color: #333C5B; 
          border: 2px solid #333C5B; 
          color: white;
          cursor: default;
        }


  @supports (display: grid) {
    .artwork_wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }

  }

}

@media all and ( min-width: 960px ) {
  .c-wrapper {
    flex-wrap: nowrap;
  }

    .c-wrapper--left {
      flex: 1;
    }

    .c-wrapper--right {
      flex: 2;
    }


  .nav--frm-hd {
    display: none;
  }

    .lis-itm--frm {
      display: block;
    }

  .project-image-bundle {
    width: 50%;
  }

}

@media all and ( min-width: 1000px ) {
  .banner-nav h1 { font-size: 5rem; }


  .artwork_project {
    /* for IE */
    margin-bottom: 2.25rem;
    width: 33%;
  }

  @supports (display: grid) {
    .artwork_project { margin-bottom: 0; width: 70%; }
  }

}